<header>
  <picture>
    <source media="(min-width: 992px)" srcset="${require(`../images/background-3.jpg`)}"/>
    <source media="(min-width: 564px)" srcset="${require(`../images/background-2.jpg`)}"/>
    <img src="${require(`../images/background-1.jpg`)}" class="width-100" alt="background"/>
  </picture>

  <nav id="navbar" class="app-navbar no-search">
    <div class="navbar-logo">
      <a href="/">BEERFLIX</a>
    </div>

    <div class="filter-container">
      <form action="" id="search-form" class="filter-input">
        <input type="search" class="input search" placeholder="search your beer">
        <button type="submit" class="button search">search</button>
      </form>
    </div>
    <div class="navbar-icon">
      <i id="navbar-search" class="fas fa-search"></i>
      <i id="navbar-close" class="fas fa-times"></i>
    </div>
  </nav>

</header>
